body {
	background-color: #303030;
	color: #ffffff;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.rectangle {
	width: 1000px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

#logo {
	width: 480px;
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-bottom: 5px;
	margin-left: 20px;
	text-align: left;
	font-size: 50px;
}

#clock {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	margin-bottom: 5px;
	float: left;
	text-align: center;
	width: 490px;
	margin-left: 10px
}

.square {
	width: 50%;
	float: left;
}

.tile1 {
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}

.tile2 {
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #666666;
	float: left;
	text-align: center;
}

.tile3 {
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #666666;
	float: left;
	text-align: center;
}

.tile4 {
	margin: 10px;
	width: 480;
	height: 142px;
	background-color: #ee5a32;
	text-align: center;

}

.tile5 {
	margin: 10px;
	width: 480px;
	height: 304px;
	background-color: #666666;
	text-align: center;

}

.yt {
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #d94348;
	float: left;
}
.fb {
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #4668b3;
	float: left;
}
.gplus {
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #d95333;
	float: left;
}
.tw {
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #3095d3;
	float: left;
}